body {
    background-color:blue;
}
.section1 {
    width: 1070px;
    height: 100px;
    border: 1px solid white;
}
.sec1text {
     color: black;
     margin-left: 100px;
     margin-top: 30px;
     font-size: 30px;
     display: inline-block;
}
.sec1text{
    font-family:monospace ;
}
.ptext {
    display: inline-block;
    margin-left: 80px;
    font-size: 20px;
    color: aqua;
}
.ptext1 {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    color: white;
}
.btn {
    width: 180px;
    height: 30px;
    background-color: blue;
}
.sec2pext {
    text-align: center;
    font-size:50px;
    margin-top: -10px;
    color: white;
}
.section2ptext2 {
    text-align: center;
    font-size: 50px;
    margin-top: -40px;
    margin-left: 50px;
    color: red;
}
.inpsurnamename {
    width: 760px;
    display: block;
    margin-left: 200px;
    margin-top: 20px;
    height: 30px;
    background-color: blue;
    border: 3px solid white;
    
}
.ptext2 {
    margin-left: 500px;
    color: white;
}
::placeholder {
    color: white;
    opacity: 1; 
  }
.p1 {
    margin-left: 500px;
}
.passwworld {
    margin-left: 530px;
    display: inline;
}